
<%= form_for @recipe, html: {class: "form-group"} do |f| %>
    <%= f.label :recipe_name %>
    <%= f.text_field :name, required: true, class: "form-control" %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class = "quantities">
            <%= f.fields_for :quantities do |g| %>
                <%#= render 'quantity_fields', f: g %>
                <tr class = "existing-fields">
                    <td>
                        <%= g.select(:ingredient_id, Ingredient.order(:name).map{|a| [a.name, a.id, {'data-price' => a.price}]}, {prompt: "Select an ingredient"}, {class: 'recipe_select form-control'}) %>
                    </td>
                    <td><%= g.number_field :amount, class: "form-control" %></td>
                        <%= g.fields_for :ingredient do |h| %>
                            <td><%= h.number_field :price, class: "form-control price_text" %></td>
                        <% end %>
                    
                    <td><%= link_to_remove_association "Remove", f %></td>
                        
                </tr> 
                
            <% end %>
            <div class = "links">
                <%= link_to_add_association "Add", f, :quantities, data: {"association-insertion-node" => "tbody.quantities", "association-insertion-method" => "append"} %>
            </div>
        </tbody>
    </table>
    
    
    <br>
    <%= f.submit %>
<% end %>

<script>
     $('.recipe_select').on('change', function(){
         var value = $(this).closest(".existing-fields");
         alert($(this).find(":selected").attr("data-price"));
         $(value).find('.price_text').val($(this).find(":selected").attr("data-price"));
         
     });
</script>