
<%= form_for @recipe do |f| %>
    <%= f.label :recipe_name %>
    <%= f.text_field :name %>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody class = "quantities">
            <%= f.fields_for :quantities do |g| %>
                <%#= render 'quantity_fields', f: g %>
                <tr class>
                    <td>
                        <%= g.collection_select :ingredient_id, Ingredient.order(:name), :id, :name %>
                    </td>
                    <td><%= g.number_field :amount %></td>
                        <%= g.fields_for :ingredient do |h| %>
                            <td><%= h.number_field :price %></td>
                        <% end %>
                    
                    <td><%= link_to_remove_association "Remove", f %></td>
                        
                </tr> 
                
            <% end %>
            <div class = "links">
                <%= link_to_add_association "Add", f, :quantities, data: {"association-insertion-node" => "tbody.quantities", "association-insertion-method" => "append"} %>
            </div>
        </tbody>
    </table>
    
    
    <br>
    <%= f.submit %>
<% end %>