<tr class = "nested-fields">
    <td><%= f.number_field :amount %></td>
    <td>
        <%#= f.association :ingredient, :collection => Ingredient.all(:order => 'name'), %>
        <%= f.collection_select :ingredient_id, Ingredient.order(:name), :id, :name, include_blank: true %>
    </td>
    <%= f.fields_for :ingredient do |g| %>
    <td><%= g.number_field :price %></td>
    <% end %>
    <td><%= link_to_remove_association "Remove", f %></td>
        
</tr> 